
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh-CN">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh-CN">
<![endif]-->
<!--[if !(IE 6) | !(IE 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>【长沙楼盘_长沙新房_长沙楼盘价格】—新环境房屋网</title>
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" content="长沙新房，长沙楼盘，长沙房价" />
<meta name="description" content="新环境新房频道为您精选长沙新房、提供长沙楼盘信息及房价，更多长沙楼盘信息尽在新环境房屋网。" />
<link href="../css/list.css" rel="stylesheet" />
<link href="../css/wendas.css" rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="http://libs.furong.gov.cn/html5/html5.js"></script>
  <script src="http://libs.furong.gov.cn/selectivizr/selectivizr.js"></script>
<![endif]-->

<% include include/cssjs %>
</head>

<body>
<!-- 顶部导航栏 -->
<%- include('include/nav', {menus: menus}) %>
<!-- 顶部菜单栏 -->
<%- include('include/header', {
    city: city, 
    currentCity: currentCity,
    active: 'ask'
})  %>
<!-- 搜索栏 -->
<% include include/search %>
<!-- 搜索栏 -->
<% include include/login %>

<!--面包屑导航-->
<div class="breadcrumb">
    <div class="breadcrumb_content">
        <a href="###"><img src="../images/wd_07.png"/><span>象盒</span></a>&nbsp;>
        <a href="###"><span>问答动态</span></a>&nbsp;>
        <a href="###"><span>问答详情</span></a>
    </div>
</div>


<!--内容-->
<div class="wrap">
    <!--左侧---->
    <div class="left_wrap  wddtxq_wrap">
            <p class="title">如果你无法简洁的表达你的想法，那只说明你还不够了解它。阿尔伯特·爱因斯坦</p>
            <p class="bq"><span>买房</span><span>交易流程</span></p>
            <p class="content" id="content">曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子曼哈顿的房产平均价格，一房一厅我父亲2018年买了房子，写的是父亲的名字，已经给了首付，由于年龄问题，只能供15年。如果房子改成我的</p>
            <div class="huida">
                <a href="###"><span>查看全部回答</span></a>
                <i style="position:relative;top:4px;">李达康 2017-01-28 05:46发布</i>
                <!-- <p class="jbfx_wrap">
                    <a href="###"><img src="../images/wd_16.png"/><span>举报</span></a>
                    <a href="###"><img src="../images/wd_17.png"/><span>分享</span></a>
                </p> -->
               </div>
                   
             <div class="xiangqingpinglun_list" style="border:none">
                       <a href="###" class="head">
                           <span><img src="../images/wd_18.png"/></span>
                           <p class="name">張玉桂Sonia Chang Harris</p>
                           <p class='time'>发布时间 2017-01-28 05:46</p>
                       </a>
                       <p class="content" id="xiugai_content">您好，感谢您参考我的房评，此房我带客户实地看过，周正两房可以改一个小书房，客户带阳台，厨房还有一个生活阳台，户型周正，房间大，东边户。小区是路桥公司单位房，品质值得信赖。周边设施配套齐全，需要看房可以随时联系我带您实地考察，祝您生活愉快此房我带客户实地看过，周正两房可以改一个小书房，客户带阳台，厨房还有一个生活阳台，户型周正，房间大，东边户。小区是路桥公司单位房，品质值得信赖。周边设施配套齐全，需要看房可以随时联系我带您实地考察，祝您生活愉快。</p>                
              <div class="xiugai_wrap">
                  <span><img src="../images/wd_19.png" />修改回答</span>
              </div>

             </div>
        
          <div class="xiugaineirong_wrap">
             <p class="niming"><i>匿名</i><span class="switch_btn active"><i></i></span></p>
            <div class="fuwenben">
                <img src="../images/w.jpg"/>
            </div>
   
            <div class="btns">           
               <a href="###" class="bcsh_btn"><span>提交回答</span></a>
            </div>
        </div>
    </div>



    <!--右侧---->
    <div class="right_wrap">
         <!---热门回答---->
         <div class="remenhuida_right">
             <div class="gzwt_wrap">
                 <a href="###" class="gzwt_btn"><span>关注问题</span></a>
                 <a href="###" class="xhd_btn"><span>写回答</span></a>
             </div>

             <p class="right_title"><span>相关</span>问题<i></i></p>
             <div class="remenhuida_right_content">
                 <a href="###"><span>美国热门税一般为多少？</span><i>120个回答</i></a>
                 <a href="###"><span>美国热门税一般为多少？</span><i>120个回答</i></a>
                 <a href="###"><span>美国热门税一般为多少？</span><i>1200个回答</i></a>                
             </div>
         </div>

    </div>

</div>

<script src="../js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //匿名
        $('.switch_btn').click(function () {
            $(this).toggleClass('active');
        })
        //修改内容
        $('.xiugai_wrap').click(function () {
            $('.xiugai_wrap,#xiugai_content').hide();
            $('.xiugaineirong_wrap').show();
        })
        $('.bcsh_btn').click(function () {
            $('.xiugai_wrap,#xiugai_content').show();
            $('.xiugaineirong_wrap').hide();
        })

        //回答内容收展
        var len = 110;
        var ctn = document.getElementById("content");
        var content = ctn.innerHTML;
        var span = document.createElement("span");
        var a = document.createElement("a");
        span.innerHTML = content.substring(0, len);

        a.innerHTML = content.length > len ? "展开全文<img src='../images/wd_11.png'/>" : "";
        a.href = "javascript:void(0)";

        a.onclick = function () {
            if (a.innerHTML.indexOf("展开全文") == 0) {
                a.innerHTML = "&nbsp;&nbsp;收起全文<img src='../images/wd_12.png'/>";
                span.innerHTML = content;
            } else {
                a.innerHTML = "展开全文<img src='../images/wd_11.png'/>";
                span.innerHTML = content.substring(0, len);
            }
        }
        ctn.innerHTML = "";
        ctn.appendChild(span);
        ctn.appendChild(a);

    });
</script>

</body>
</html>
