
<!DOCTYPE html>
<!--[if IE 6]>
<html id="ie6" lang="zh-CN">
<![endif]-->
<!--[if IE 7]>
<html id="ie7" lang="zh-CN">
<![endif]-->
<!--[if !(IE 6) | !(IE 7)]><!-->
<html lang="zh-CN">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<title>【长沙楼盘_长沙新房_长沙楼盘价格】—新环境房屋网</title>
<meta http-equiv="Cache-Control" content="no-transform"/>
<meta http-equiv="Cache-Control" content="no-siteapp"/>
<meta name="keywords" content="长沙新房，长沙楼盘，长沙房价" />
<meta name="description" content="新环境新房频道为您精选长沙新房、提供长沙楼盘信息及房价，更多长沙楼盘信息尽在新环境房屋网。" />
<link href="../css/list.css" rel="stylesheet" />
<link href="wendas.css" rel="stylesheet" />
<!--[if lt IE 9]>
  <script src="http://libs.furong.gov.cn/html5/html5.js"></script>
  <script src="http://libs.furong.gov.cn/selectivizr/selectivizr.js"></script>
<![endif]-->

<style>

   
</style>

</head>

<body>
<!--顶部导航-->
<div class="top_heard">
<div>
 <ul class="list-unstyled list-inline">
              <li class="tabs">
              <a href="http://www.xhj.com/">首页</a>
            </li>
            <li class="tabs">
              <a href="http://www.xhj.com/ershoufang/">二手房</a>
                <div class="nav" >
                      <em style="left:67px;"><img src="../image/sy14.png"></em>
                  <a href="http://www.xhj.com/ershoufang/"><span>二手房出售</span></a>
                  <a href="http://www.xhj.com/map/index.html?cityId=1&houseType=11"><span>二手房地图</span></a>
                </div>
            </li>
            <li class="tabs">
              <a href="http://www.xhj.com/xinfang/">新房</a>
                <div class="nav" >
                      <em style="left:67px;"><img src="../image/sy14.png"></em>
                  <a href="http://fang.xhj.com/xinfang/"><span>全部楼盘</span></a>
                  <a href="http://news.xhj.com/daogou/"><span>楼盘导购</span></a>
                  <a href="http://www.xhj.com/xinfang/n4/"><span>公寓新盘</span></a>
                </div>
            </li>
            <li class="tabs">
              <a href="http://www.xhj.com/zufang/">租房</a>
                <div class="nav" >
                      <em style="left:67px;"><img src="../image/sy14.png"></em>
                  <a href="http://www.xhj.com/zufang/d1/"><span>整租房源</span></a>
                  <a href="http://www.xhj.com/zufang/d2/"><span>合租房源</span></a>
                </div>
            </li>
            <li class="tabs">
              <a href="http://www.xhj.com/xieziloucs/">写字楼</a>
                <div class="nav" >
                      <em style="left:67px;"><img src="../image/sy14.png"></em>
                  <a href="http://www.xhj.com/xieziloucz/"><span>写字楼出租</span></a>
                  <a href="http://www.xhj.com/xieziloucs/"><span>写字楼出售</span></a>
                  <a href="http://www.xhj.com/xinfang/n6/"><span>写字楼新盘</span></a>
                </div>
            </li>
            <li class="tabs">
              <a href="http://www.xhj.com/shangpucs/">商铺</a>
                <div class="nav" >
                      <em style="left:67px;"><img src="../image/sy14.png"></em>
                  <a href="http://www.xhj.com/shangpucz/"><span>商铺出租</span></a>
                  <a href="http://www.xhj.com/shangpucs/"><span>商铺出售</span></a>
                  <a href="http://www.xhj.com/xinfang/n3/"><span>商铺新盘</span></a>
                </div>
            </li>
            <li class="tabs">
              <a href="http://www.xhj.com/xiaoqu/">小区</a>
            </li>
            <li class="tabs">
              <a href="http://www.xhj.com/jingjiren/">经纪人</a>
            </li>
            <li class="tabs">
              <a href="http://hw.xhj.com/">海外</a>
                <div class="nav" >
                      <em style="left:67px;"><img src="../image/sy14.png"></em>
                  <a href="http://hw.xhj.com/fangyuan/GBP/"><span>英国</span></a>
                  <a href="http://hw.xhj.com/fangyuan/NZD/"><span>新西兰</span></a>
                  <a href="http://hw.xhj.com/fangyuan/USD/"><span>美国</span></a>
                  <a href="http://hw.xhj.com/fangyuan/AUD/"><span>澳大利亚</span></a>
                </div>
            </li>
            <li class="tabs">
              <a href="http://news.xhj.com/baike/">资讯</a>
                <div class="nav" >
                      <em style="left:67px;"><img src="../image/sy14.png"></em>
                  <a href="http://news.xhj.com/baike/"><span>百科</span></a>
                  <a href="http://news.xhj.com/daogou/"><span>导购</span></a>
                  <a href="http://news.xhj.com/zhuanti/"><span>专题</span></a>
                  <a href="http://news.xhj.com/ask/"><span>问答</span></a>
                </div>
            </li>
            <li class="tabs">
              <a href="http://www.xhj.com/weituo">业主</a>
                <div class="nav" >
                      <em style="left:67px;"><img src="../image/sy14.png"></em>
                  <a href="http://www.xhj.com/weituo/cz"><span>我要出租</span></a>
                  <a href="http://www.xhj.com/weituo/cs"><span>我要卖房</span></a>
                </div>
            </li>
            <li class="tabs">
              <a href="http://www.xmh.fun/">新门户</a>
            </li>
       <li class="tabs" style="margin-right:5px;">
           <a target="_blank" href="http://www.xhj.com/wap/page/appdown">新环境APP</a>
            <div class="nav eww" style="left:-37px;">
                <img src="../image/erweima.png" style="width:140px;"/>
           </div>
       </li>                                       
      </ul>
    <!--登录以及注册-->
   <div class="dlzc key_no_login">
        <div class="dl_a_wrap">
            <a href="http://www.xhj.com/login" class="dl_a"><img src="../image/f_01.png" class="img02">登录</a><span class="xian">/</span>
            <div class="denglu_nav nav">
                <em><img src="../image/sy14.png"></em>
                <a href="http://www.xhj.com/login" class="yhdl_btn_model"><span>用户登录</span></a>
                <a href="http://belonger.xhj.com/" class=""><span>经纪人登录</span></a>
            </div>
            <a href="http://www.xhj.com/reg" rel="nofollow">注册</a>
        </div>      
    </div>
</div>
</div>

<!-- 头部 begin -->
 <div class="header">
      <div>
      <span><a href="http://www.xhj.com/"><img src="../image/logo.png" class="img01 "/></a></span>
      <span class="font14 place place01"><img src="../image/sy12.png"/><i>长沙</i></span> 
      <div class="narbar pull-right narbar01">
          <ul class="list-unstyled list-inline listxinfang">
              <li class="tabs active"><a href="/">首页</a></li>
              <li class="tabs">
                  <a href="/xinfang/">问答动态</a>
                  <div class="wd_nav">
                      <a href="###"><span>我要提问</span></a>
                      <a href="###"><span>精选回答</span></a>
                  </div>
              </li>
              <li class="tabs"><a href="/">我的回答</a></li>         
          </ul>
      </div>


     <!-- 搜索-->
     <div class="sousuo_right_wrap">
         <input type="text" placeholder="房产问题与疑问，一搜即答"/>
         <a href="###"><img src="img/wd_06.png"/></a>
     </div>


      </div>

   </div>
<!-- 头部 end -->


<!-- 城市选择 -->
<div class="overlayBg"></div>
<div class="city-change bounceIn animated">
  <span class="close"></span>
  <div class="title">选择城市
    <span class="city-tab">
      <span class="code1">热门城市:</span>
      <a href="http://www.xhj.com/" title="长沙房产网">长沙</a>
      <a href="http://cs.xhj.com/" title="株洲房产网">株洲</a>
      <a href="http://xt.xhj.com/" title="湘潭房产网">湘潭</a>
      </span>
  </div>
  <div class="title-line"></div>
  <div class="fc-main clear">
      <div class="fl citys-l">
      <ul>
            <li class="clear">
              <span class="code-title fl">B</span>
              <div class="city-enum fl">
                  <a href="http://baoji.xhj.com/" title="宝鸡房产网_宝鸡二手房网_宝鸡租房信息网-宝鸡象盒找房网">宝鸡</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">D</span>
              <div class="city-enum fl">
                  <a href="http://dongguan.xhj.com/" title="东莞房产网_东莞二手房网_东莞租房信息网-东莞象盒找房网">东莞</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">G</span>
              <div class="city-enum fl">
                  <a href="http://gz.xhj.com/" title="广州房产网_广州二手房网_广州租房信息网-象盒找房网">广州</a>
                  <a href="http://gy.xhj.com/" title="贵阳房产网_贵阳二手房网_贵阳租房信息网-象盒找房网">贵阳</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">J</span>
              <div class="city-enum fl">
                  <a href="http://jiangmen.xhj.com/" title="江门房产网_江门二手房网_江门租房信息网-江门象盒找房网">江门</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">M</span>
              <div class="city-enum fl">
                  <a href="http://mianyang.xhj.com/" title="绵阳房产网_绵阳二手房网_绵阳租房信息网-象盒找房网">绵阳</a>
                  <a href="http://maoming.xhj.com/" title="茂名房产网_茂名二手房网_茂名租房信息网-茂名象盒找房网">茂名</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">S</span>
              <div class="city-enum fl">
                  <a href="http://sy.xhj.com/" title="三亚房产网_三亚二手房网_三亚租房信息网-象盒找房网">三亚</a>
                  <a href="http://shy.xhj.com/" title="邵阳房产网_邵阳二手房网_邵阳租房信息网-象盒找房网">邵阳</a>
                  <a href="http://sz.xhj.com/" title="深圳房产网_深圳二手房网_深圳租房信息网-象盒找房网">深圳</a>
                  <a href="http://shantou.xhj.com/" title="汕头房产网_汕头二手房网_汕头租房信息网-汕头象盒找房网">汕头</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">X</span>
              <div class="city-enum fl">
                  <a href="http://xt.xhj.com/" title="湘潭房产网_湘潭二手房网_湘潭租房信息网-象盒找房网">湘潭</a>
                  <a href="http://xa.xhj.com/" title="西安房产网_西安二手房网_西安租房信息网-象盒找房网">西安</a>
                  <a href="http://xiangyang.xhj.com/" title="【襄阳房产网_襄阳二手房网_襄阳租房信息网】—襄阳象盒找房网">襄阳</a>
                  <a href="http://xianyang.xhj.com/" title="咸阳房产网_咸阳二手房网_咸阳租房信息网-咸阳象盒找房网">咸阳</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">Z</span>
              <div class="city-enum fl">
                  <a href="http://zz.xhj.com/" title="株洲房产网_株洲二手房网_株洲租房信息网-象盒找房网">株洲</a>
                  <a href="http://zjj.xhj.com/" title="张家界房产网_张家界二手房网_张家界租房信息网-象盒找房网">张家界</a>
                  <a href="http://zunyi.xhj.com/" title="遵义房产网_遵义二手房网_遵义租房信息网-遵义象盒找房网">遵义</a>
                  <a href="http://zhuhai.xhj.com/" title="珠海房产网_珠海二手房网_珠海租房信息网-珠海象盒找房网">珠海</a>
                  <a href="http://zhanjiang.xhj.com/" title="湛江房产网_湛江二手房网_湛江租房信息网-湛江象盒找房网">湛江</a>
                  <a href="http://zhongshan.xhj.com/" title="中山房产网_中山二手房网_中山租房信息网-中山象盒找房网">中山</a>
              </div>
            </li>
      </ul>
    </div>
    <div class="fl citys-r">
      <ul>
            <li class="clear">
              <span class="code-title fl">C</span>
              <div class="city-enum fl">
                  <a href="http://www.xhj.com/" title="长沙房产网_长沙二手房网_长沙租房信息网-象盒找房网">长沙</a>
                  <a href="http://cd.xhj.com/" title="成都房产网_成都二手房网_成都租房信息网-象盒找房网">成都</a>
                  <a href="http://chd.xhj.com/" title="常德房产网_常德二手房网_常德租房信息网-象盒找房网">常德</a>
                  <a href="http://chenzhou.xhj.com/" title="郴州房产网_郴州二手房网_郴州租房信息网-象盒找房网">郴州</a>
                  <a href="http://cq.xhj.com/" title="重庆房产网_重庆二手房网_重庆租房信息网-象盒找房网">重庆</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">F</span>
              <div class="city-enum fl">
                  <a href="http://foshan.xhj.com/" title="佛山房产网_佛山二手房网_佛山租房信息网-佛山象盒找房网">佛山</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">H</span>
              <div class="city-enum fl">
                  <a href="http://hk.xhj.com/" title="【海口房产网_海口二手房_海口租房】—象盒找房网">海口</a>
                  <a href="http://hz.xhj.com/" title="惠州房产网_惠州二手房网_惠州租房信息网-象盒找房网">惠州</a>
                  <a href="http://hy.xhj.com/" title="衡阳房产网_衡阳二手房网_衡阳租房信息网-象盒找房网">衡阳</a>
                  <a href="http://hh.xhj.com/" title="怀化房产网_怀化二手房网_怀化租房信息网-象盒找房网">怀化</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">L</span>
              <div class="city-enum fl">
                  <a href="http://loudi.xhj.com/" title="娄底房产网_娄底二手房网_娄底租房信息网-象盒找房网">娄底</a>
                  <a href="http://liuyang.xhj.com/" title="浏阳房产网_浏阳二手房网_浏阳租房信息网-象盒找房网">浏阳</a>
                  <a href="http://liuzhou.xhj.com/" title="柳州房产网_柳州二手房网_柳州租房信息网-象盒找房网">柳州</a>
                  <a href="http://lixian.xhj.com/" title="澧县房产网_澧县二手房网_租房信息网-澧县象盒找房网">澧县</a>
                  <a href="http://leiyang.xhj.com/" title="耒阳房产网_耒阳二手房网_耒阳租房信息网-耒阳象盒找房网">耒阳</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">N</span>
              <div class="city-enum fl">
                  <a href="http://nanning.xhj.com/" title="南宁房产网_南宁二手房网_南宁租房信息网-象盒找房">南宁</a>
                  <a href="http://nx.xhj.com/" title="宁乡房产网_宁乡二手房网_宁乡租房信息网-象盒找房网">宁乡</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">W</span>
              <div class="city-enum fl">
                  <a href="http://wh.xhj.com/" title="武汉房产网_武汉二手房网_武汉租房信息网-象盒找房网">武汉</a>
                  <a href="http://wg.xhj.com/" title="武冈房产网_武冈二手房网_武冈租房信息网-象盒找房网">武冈</a>
              </div>
            </li>
            <li class="clear">
              <span class="code-title fl">Y</span>
              <div class="city-enum fl">
                  <a href="http://yy.xhj.com/" title="岳阳房产网_岳阳二手房网_岳阳租房信息网-象盒找房网">岳阳</a>
                  <a href="http://yiyang.xhj.com/" title="益阳房产网_益阳二手房网_益阳租房信息网-象盒找房网">益阳</a>
                  <a href="http://yz.xhj.com/" title="永州房产网_永州二手房网_永州租房信息网-象盒找房网">永州</a>
                  <a href="http://yichang.xhj.com/" title="宜昌房产网_宜昌二手房网_宜昌租房信息网-宜昌象盒找房网">宜昌</a>
                  <a href="http://yl.xhj.com/" title="榆林房产网_榆林二手房网_榆林租房信息网-象盒找房网">榆林</a>
              </div>
            </li>
      </ul>
    </div>
  </div>
</div>

<!--面包屑导航 -->
<div class="breadcrumb">
    <div class="breadcrumb_content">
        <a href="###"><img src="img/wd_07.png"/><span>象盒</span></a>&nbsp;>
        <a href="###"><span>问答动态</span></a>
    </div>
</div>


<div class="wddt_big_wrap">
    <div class="wddt_content_wrap">
        <p class="title">最新问题<span class="dt_shaixuan"><i class="active">最新</i><i>热度</i></span></p>
        <div class="zuixinwenti_content">
            <a href="###" class="zuixinwenti_list">
                <p class="liulanliang"><span>300</span><i>浏览量</i></p>
                <p class="title">长沙的520买房政策是什么？</p>
                <p class="name">张桂玉 Sonia Chang Harris</p>
                <p class="content">昨天，中消协公布了今年第一季度的投诉情况，房屋家居领域被指存在虚假宣传、误导消费者、虚假宣传改增”最新政策5月1起.....</p>
            </a>
            <a href="###" class="zuixinwenti_list">
                <p class="liulanliang"><span>300</span><i>浏览量</i></p>
                <p class="title">长沙的520买房政策是什么？</p>
                <p class="name">张桂玉 Sonia Chang Harris</p>
                <p class="content">昨天，中消协公布了今年第一季度的投诉情况，房屋家居领域被指存在虚假宣传、误导消费者、虚假宣传改增”最新政策5月1起.....</p>
            </a>
             <a href="###" class="zuixinwenti_list">
                <p class="liulanliang"><span>300</span><i>浏览量</i></p>
                <p class="title">长沙的520买房政策是什么？</p>
                <p class="name">张桂玉 Sonia Chang Harris</p>
                <p class="content">昨天，中消协公布了今年第一季度的投诉情况，房屋家居领域被指存在虚假宣传、误导消费者、虚假宣传改增”最新政策5月1起.....</p>
            </a>
            <a href="###" class="zuixinwenti_list">
                <p class="liulanliang"><span>300</span><i>浏览量</i></p>
                <p class="title">长沙的520买房政策是什么？</p>
                <p class="name">张桂玉 Sonia Chang Harris</p>
                <p class="content">昨天，中消协公布了今年第一季度的投诉情况，房屋家居领域被指存在虚假宣传、误导消费者、虚假宣传改增”最新政策5月1起.....</p>
            </a>
              <a href="###" class="zuixinwenti_list">
                <p class="liulanliang"><span>300</span><i>浏览量</i></p>
                <p class="title">长沙的520买房政策是什么？</p>
                <p class="name">张桂玉 Sonia Chang Harris</p>
                <p class="content">昨天，中消协公布了今年第一季度的投诉情况，房屋家居领域被指存在虚假宣传、误导消费者、虚假宣传改增”最新政策5月1起.....</p>
            </a>
            <a href="###" class="zuixinwenti_list">
                <p class="liulanliang"><span>300</span><i>浏览量</i></p>
                <p class="title">长沙的520买房政策是什么？</p>
                <p class="name">张桂玉 Sonia Chang Harris</p>
                <p class="content">昨天，中消协公布了今年第一季度的投诉情况，房屋家居领域被指存在虚假宣传、误导消费者、虚假宣传改增”最新政策5月1起.....</p>
            </a>
             <a href="###" class="zuixinwenti_list">
                <p class="liulanliang"><span>300</span><i>浏览量</i></p>
                <p class="title">长沙的520买房政策是什么？</p>
                <p class="name">张桂玉 Sonia Chang Harris</p>
                <p class="content">昨天，中消协公布了今年第一季度的投诉情况，房屋家居领域被指存在虚假宣传、误导消费者、虚假宣传改增”最新政策5月1起.....</p>
            </a>
            <a href="###" class="zuixinwenti_list">
                <p class="liulanliang"><span>300</span><i>浏览量</i></p>
                <p class="title">长沙的520买房政策是什么？</p>
                <p class="name">张桂玉 Sonia Chang Harris</p>
                <p class="content">昨天，中消协公布了今年第一季度的投诉情况，房屋家居领域被指存在虚假宣传、误导消费者、虚假宣传改增”最新政策5月1起.....</p>
            </a>
           </div>
    </div>


    <!---右侧内容---->
    <div class="wytw_right_wrap">
        <p class="title"><img src="img/wytw_img.png"/></p>
        <div class="wytw_content">
        <a href="###"><img src="img/wd_01.png"/><span>我提出的问题</span></a>
        <a href="###"><img src="img/wd_02.png"/><span>我回答的问题</span></a>
        <a href="###"><img src="img/wd_03.png"/><span>我的关注</span></a>
        </div>

        <!---问答分类---->
        <div class="wendafenlei_right">
            <p class="right_title"><span>问答</span>分类<i></i></p>
            <div class="fenlei_list_wrap">
               <p class="title">大分类</p>
               <div class="fenlei_list">
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                </div>
              </div>
            <div class="fenlei_list_wrap">
               <p class="title">大分类</p>
               <div class="fenlei_list">
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                   <a href="###"><span>楼市走向</span></a>
                </div>
              </div>

            <a href="###" class="gdfl_btn"><span>更多分类</span><img src="img/wd_04.png"/></a>
        </div>


          <!---热门回答---->
         <div class="remenhuida_right">
             <p class="right_title"><span>热门</span>回答<i></i></p>
             <div class="remenhuida_right_content">
                 <a href="###"><span>美国热门税一般为多少？</span><i>120个回答</i></a>
                 <a href="###"><span>美国热门税一般为多少？</span><i>120个回答</i></a>
                 <a href="###"><span>美国热门税一般为多少？</span><i>1200个回答</i></a>                
             </div>
         </div>

            <!---最新回答---->
            <div class="remenhuida_right">
                 <p class="right_title"><span>最新</span>回答<i></i></p>
                 <div class="remenhuida_right_content">
                     <a href="###"><span>美国热门税一般为多少美国热门税一般为多少美国热门税一般为多少美国热门税一般为多少？</span><i>1220个回答</i></a>
                     <a href="###"><span>美国热门税一般为多少？</span><i>120个回答</i></a>
                     <a href="###"><span>美国热门税一般为多少？</span><i>120个回答</i></a>                
                 </div>
             </div>
    </div>

</div>


<script src="../js/jquery.js" type="text/javascript"></script>
<script type="text/javascript">
    $(function () {
        //城市切换
        $('.place').click(function () {
            $('.city-change, .overlayBg').show();
        })
        $('.close').click(function () {
            $('.city-change, .overlayBg').hide();
        })

        //详情
        var len = 80;
        var ctn = document.getElementById("content");
        var content = ctn.innerHTML;
        var span = document.createElement("span");
        var i = document.createElement("i");
        span.innerHTML = content.substring(0, len);
        i.innerHTML = content.length > len ? "... [详情]" : "";
        ctn.innerHTML = "";
        ctn.appendChild(span);
        ctn.appendChild(i);

    });
</script>

</body>
</html>
