/*全局样式*/
/* 全局CSS定义 */
body { font-family:'微软雅黑',"Microsoft Yahei"; margin:0 auto; padding:0; font-size:16px;min-width:1200px;}
div, form, ul, ol, li, span, p, dl, dt, dd { margin:0; padding:0; border:0; }
img, a img { border:0; margin:0; padding:0; }
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; font-size:12px; }
ul, ol, li { list-style:none }
table, td, input { font-size:12px; padding:0; font-family:inherit; }
img{ vertical-align:middle;}
.pull-right {float:right; }
.pull-left {float:left; }
.list-unstyled { padding-left: 0; list-style: none;}
.font14 { font-size:14px;}
*, :before, :after { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
 a { text-decoration:none;}
 .word { overflow: hidden; text-overflow: ellipsis; white-space: nowrap;display:block; }
 i {font-style:normal; }
/*---------- 判断浏览器版本样式 ----------*/
#upgrade-browser { position: absolute; top: 0; left: 0; z-index: 100; width: 100%; height: 100%; display:none;}
.overlay { display:block; position:absolute; top:0; left:0; width:100%; height:100%; background-color:black; z-index:100; -moz-opacity:0.8; opacity:.80; filter:alpha(opacity=80); }
.browsers { display:block; position:absolute; top:50%; left:50%; width:670px; height:300px; margin: -170px 0 0 -350px; padding:20px; border:20px solid #5a9bdd; background-color:#fff; z-index:110; overflow:auto; }
.browsers p { font-size: 16px; text-align: center;}
.browsers div { width: 420px; height: 170px; margin:0 auto;}
.browsers a { display:block; float: left; width: 100px; height:20px; margin:20px; padding-top:110px; background:url(/images/abroadhouse/browser.jpg) no-repeat; color:#58954E; text-align: center; }
.browsers a:hover { text-decoration:underline; }
.browsers .br1 { background-position:0 0; }
.browsers .br2 { background-position:-100px 0; }
.browsers .br4 { background-position:right 0;}
.browsers span { color: #c30; cursor: pointer;}
 h3 { font-size:16px;text-align:center;}
 #upgrade-browser h4 {font-size:15px;text-align:center; }


  /*头部*/
    .header > div { width: 1200px;margin:auto;position:relative;}
	.header{height:65px;background-color:#fff;position:relative;z-index:1;}
    .list-inline>li { display:inline-block;position:relative;float:left;}
    .img01 {position:relative;top:13px;left:0px;margin-right:10px;}
    .icon-map-marker { color:#fff;font-size:16px;padding-right:5px;position:relative;top:1px;}
    .place {color:#fff;display:block;padding:0px 10px;height:22px;background:url(/images/abroadhouse/sy20.png) no-repeat;background-size:100% 100%;line-height:22px;display:inline-block;position:relative;top:15px;font-size:14px;font-family: '黑体','SimHei';cursor:pointer;}
    .narbar > ul > li > a  { display:inline-block;padding:0px 12px;height:65px;color:#000334;line-height:65px;position:relative;z-index:5;text-decoration:none;}
    .narbar > ul >.active { background-color:#fff;}
    .narbar > ul > .active > a { color:#24b73d;}
    .narbar > ul {max-width:950px;}
    .marker { position:relative;top:-2px;margin-right:5px;}
    .narbar > ul > li > a:hover { color:#24b73d;}
    .list-inline > li { padding-left:0px;padding-right:0px;position:relative;}
    .nav > em,.dingwei > em { top:-18px;}
    .nav > a { text-align:center;}

    .img02 {padding-right:5px;padding-left:5px;position:relative;top:-2px;}
    .xian { height:17px;width:1px;background-color:rgba(0,0,0,0);position:absolute;top:25px;left:0px;}
    .back_color { background-color:#fff;position:absolute;top:75px;left:0px;height:75px;width:100%;z-index:5;transition:top 0.2s ease;-webkit-transition:top 0.2s ease;-moz-transition:top 0.2s ease;-o-transition:top 0.2s ease;-mstransition:top 0.2s ease;}   
    .tabs:hover > .back_color {top:0px; }
    .er:hover > .back_color {top:75px; }
    .tabs:hover > a {color:#24b73d; }
    .er:hover > a { color:#fff}
    .header.active {position:fixed;top:0px;left:0px;width:100%;z-index:99;}
    .erweima01 { position:absolute;top:62px;right:120px;z-index:30;display:none;}

     /*二级导航*/
    .nav { position:absolute;top:65px;left:0px;width:140px;background-color:#fff;border:1px solid #e2e2e2;z-index:100;padding-bottom:10px;display:none;padding-top:5px;}
    .nav > a { display:block;background-color:#fff;color:#333;font-size:12px;height:26px;line-height:26px;padding:0px 10px;}
    .nav > em { position:absolute;top:-18px;left:30px;}
    .nav > a:hover {color:#24b73d;}
    .nav > .btn { margin-top:5px;}
    .nav > .btn > i  {display:block;height:26px;line-height:26px;background-color:#24b73d;color:#fff;font-size:12px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;text-align:center;}
    .eww { border:none;padding-bottom:0px;top:47px;background-color:transparent;}

    .dingwei { width:170px;background-color:#fff;padding:5px;border:1px solid #e2e2e2;position:absolute;top:64px;left:130px;display:none;}
    .dingwei > a {color:#333;font-size:14px;display:inline-block;height:30px;line-height:30px;padding:0px 10px;}
    .dingwei > a:hover { color:#24b73d;}
    .dingwei > em { position:absolute;top:-17px;left:70px;}

     /*<!--二手房、租房、新房、小区-->*/
    .content09 { min-width:1200px;margin:auto;padding-top:45px;padding-bottom:40px;overflow:hidden;width:1200px;padding-top:25px;padding-bottom:10px;clear:both;}
    .content09 > div {width:1200px;margin:auto; }
    .content09_tabs { margin-bottom:0px;border-bottom:1px solid #b2b2b2;} 
    .content09_tabs > span { display:inline-block;height:32px;line-height:30px;font-size:14px;color:#666;border-bottom:2px solid #fff;border-bottom:none;border-right:none;cursor:pointer;border-left:1px solid #fff;border-top:none;margin-right:45px;}  
    .content09_tabs > .width_title { width:115px;}
    .tabs_detaile  .col-xs-2{ width:171px;font-size:14px;color:#999;padding-top:10px;padding-left:0px;width:12.5%;display:block;float:left;padding-right:10px;overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}
    .tabs_detaile .col-xs-2:hover>span {color:#24b73d; }
    .hot_city { clear:both;padding-left:0px;padding-top:10px;padding-bottom:10px;}
    .hot_city > span {font-size:14px;color:#000; }
    .hot_city > a { color:#999;padding:0px 10px;font-size:14px;}
    .hot_city > a:hover>span { color:#24b73d;}
    .tabs_detaile { overflow:hidden;display:none;padding-top:5px;border-top:none;}
    .content09_tabs > span.active {border-bottom:2px solid #24b73d;color:#24b73d;}
    .hot_xian {padding:1px 0px;clear:both; }
    .hot_xian > span { display:inline-block;width:100%;height:1px;background-color:#e6e6e6;}

    /*<!--友情链接部分-->*/
    .yq_wrap { width:100%;min-width:1200px;background-color:#f5f5f5;border-bottom:1px solid #b2b2b2;}
    .content10 { width:1200px;overflow:hidden;padding-top:12px;padding-bottom:10px;margin:auto;}
    .content10 > p {font-size:14px;color:#000;padding-left:0px;margin-bottom:12px;}
    .content10 .col-xs-2 { width: 12.5%; font-size: 14px; color: #999; padding-top: 0px; padding-left: 0px; padding-bottom: 5px; float: left; display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;padding-right:10px; }
    .content10 .col-xs-2:hover>span {color:#24b73d; }
   
     /* 底部*/
    .text-center { text-align:center;}
    .content11 { width:1200px;margin:auto;}
    .content11 a { font-size:15px;color:#333;}
    .content11 a:hover {border-bottom:1px solid #333;}
    .content11 > p { font-size:12px;color:#333;margin-bottom:10px;}
    .content11 > div { padding-bottom:15px;padding-top:18px;}
    .content11 > .text-center > span {padding-left:5px;padding-right:5px; }

     /*二级菜单动画（已注释脚本）*/
    .nav { display:block;height:0px;opacity:0;filter:alpha(opacity=0);transition:top 0.3s ease; -webkit-transition:top 0.3s ease; -moz-transition:top 0.3s ease; top:75px;width:0px; padding-bottom: 0px;padding-top: 0px;overflow:hidden;}
    .tabs:hover>.nav {top:65px;height:auto;opacity:1;filter:alpha(opacity=100); width: 140px;padding-bottom: 10px;  padding-top: 5px;overflow:visible;}
    .tabs:hover > .eww { top:47px;}
    .tabs > .nav > a > span  { border-bottom:1px solid #fff;}
    .tabs > .nav > a:hover > span  { border-bottom:1px solid #24b73d;}

     /*顶部矮导航*/
    .top_heard { background-color:rgba(0,0,0,0.5);height:40px;min-width:1200px;position:fixed;top:0px;left:0px;width:100%;z-index:10;}
    .top_heard > div { width:1200px;margin:auto;position:relative;}
    .top_heard .tabs { padding-right:20px;}
    .top_heard .tabs > a {color:#fff;font-size:12px; display:block;line-height:40px;}
    .top_heard .tabs:hover > a { color:#fff;}
    .top_heard .nav { top:49px;}
    .top_heard .tabs:hover > .nav { top:40px;}
    .top_heard .tabs:hover > .eww { top:22px;}
    .top_heard em >img{width:15px;height:11px;}
    .top_heard .nav { left:-20px;}
  
    .dlzc { position:absolute;top:0px;right:0px;height:40px;font-size:12px;line-height:40px;}
    .dlzc > a {color:#fff; }
    .dlzc > a:hover { color:#eee;}
    .top_heard .xian {height:auto;width:auto;color:#ccc;position:relative;top:0px;left:0px;padding:0px 11px;padding-right:8px;}

    .place01 { background:none;color:#666;font-size:14px;padding-left:15px;}
    .fgx {border-right:1px solid #ddd;display:inline-block;height:35px;position:absolute;top:16px;left:177px;}
    .header > div { position:relative;}
    .narbar01 {width:890px;}
    .narbar01 > ul > li > a { padding:0px 20px;}

     /*公用头部*/
    .top_heard {filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#7F000000,endColorstr=#7F000000); }
    .top_heard.active { position:relative;}
    .hbqh { display:inline-block;font-size:12px;color:#fff;height:40px;line-height:40px;}
    .hbqh > span { cursor:pointer;margin-right:35px;}
    .header { height:auto;background-color:#fff;}
    .hw_ing { position:relative;top:-2px;margin-right:7px;}
    .back02 { position:absolute;top:40px;left:0px;width:100%;min-width:1200px;}
    .back02>img {width:100%;min-width:1200px;}

    .sr_inputs { float:right;position:relative;}
    .sr_inputs > input { border:none;border-bottom:1px solid #fff;width:215px;color:#fff;background-color:transparent;outline:none;font-size:16px;line-height:1.5;padding-bottom:2px;padding-left:5px;padding-bottom:5px;padding-top:5px;}
    .sr_inputs > a { position:absolute;bottom:7px;right:10px;}
    #input::-webkit-input-placeholder {color:#fff;}
    #input::-moz-input-placeholder {color:#fff; }
    #input::-ms-input-placeholder {color:#fff;}

    .back_wraps { background:url(/images/abroadhouse/back01.jpg) no-repeat center center;background-size:cover;width:100%;min-width:1200px;padding-top:0px;padding-bottom:45px;overflow:hidden;}
    .hw_header { padding-top:30px;padding-bottom:30px;width:1200px;margin:auto;}
    .tab_wrap {display:inline-block; position:relative;z-index:5;}
    .tab_wrap > a { font-size:18px;color:#fff;margin-right:45px;}
    .tab_wrap > a > span { color:#fff;padding:0px;display:inline-block;height:35px;line-height:35px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
    .tab_wrap > a.active  > span { background-color:#4e8cee;padding:0px 5px;}
    .tab_wrap > a.actives > span { border-bottom:2px solid #fff;border-radius:0px;-webkit-border-radius:0px;-moz-border-radius:0px}     
    .xian_76 { width:100%;height:1px;background-color: #cdcdcd;margin-top:60px;margin-bottom:30px;}
      /*蒙层*/
    .back_model {background-color:rgba(0,0,0,0.5);filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#7f000000,endColorstr=#7f000000);position:fixed;top:0px;left:0px;right:0px;bottom:0px;z-index:10000;display:none; }


     /*分页*/
    .fenye { background-color: #fff; text-align: center; padding-bottom: 0px; padding-top: 30px; }
    .fenye > a { color: #666; border: 1px solid #e2e2e2; font-size: 14px; height: 30px; line-height: 30px; width: 30px; text-align: center; display: inline-block; text-decoration: none; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; -o-border-radius:5px; }
    .fenye > a.y01 { width: 60px; }
    .fenye > a.active { color: #fff; background-color: #4e8cee; }
    .xian_76 { margin-top:40px;}

    /*右侧列表*/
    .fy_right {width:285px;position:absolute;top:40px;right:0px; }
    .wymf { border:1px solid #eee;margin-bottom:40px;}
    .wymf > p { padding:0px 30px;font-size:16px;color:#333;height:60px;line-height:60px;border-bottom:1px solid #eee;}
    .wymf > form { padding:0px 30px;padding-bottom:20px;}
    .wymf > form > p { position:relative;font-size:14px;color:#999;border-bottom:1px solid #eee;}
    .wymf > form > p > input { display:block;border:none;outline:none;color:#333;font-size:16px;border-radius:0px;-webkit-border-radius:0px;height:48px;line-height:48px;}
    .wymf > form > p > label { position:absolute;display:block;height:48px;line-height:48px;top:0px;left:0px;}
    .wymf > form > p.p01 > input { padding-left:50px;}
    .wymf > form > p.p02 > input { padding-left:55px;}
    .wymf > form > p.p03 > input { padding-left:55px;}
    .wymf > form > p.p04 > input { padding-left:85px;}
    .wymf > form > p.p03 > span > img { width:60px;height:30px;border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;}
    .wymf > form > p.p03 > span { position:absolute;right:0px;top:9px;}
    .wymf > form > p.p04 > span {  height: 30px;background-color: #eeeeee;color:#838383; border-radius:3px;-webkit-border-radius:3px;-moz-border-radius:3px;display:block;position:absolute;right:0px;top:9px;padding:0px 5px;line-height:30px;font-size:12px;}
    .wymf > form > a { display: block; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; height: 35px; border: solid 1px #4e8cee;line-height:35px;text-align:center;margin-top:20px; }
    .wymf > form > a > span { color:#4e8cee;}

    /*右侧推荐房源*/
    .tjfy > div { padding:0px 30px;}
    .tjfy >div> a { display:block;padding-top:30px;border-bottom:1px dashed  #eee;}
    .tjfy > div > a > img { display:block;width:225px;height:150px;padding-bottom:17px;}
    .tjfy > div > a > .p01 > span { display: inline-block; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; max-width: 170px; margin-right: 15px;font-size:18px;color:#333; }
    .tjfy > div > a > .p01 > i { font-style: normal; font-size: 12px; display: inline-block; padding: 3px 5px; border-radius: 4px; -webkit-border-radius: 4px; -moz-border-radius: 4px; background-color: #4e8cee; color: #fff; position: relative; top: -6px; }
    .tjfy > div > a > .p02 {font-size:18px;color:#333; padding-top:10px;padding-bottom:17px;}
    .tjfy > div > a > .p02 > i {color:#fd772e; }
    .tjfy > div > a > .p02 > span { color:#999;font-size:16px;float:right;}
    .tjfy > div > a:last-child { border-bottom:none;}
    

     /*正文房源推荐*/
    .part { width:1200px;margin:auto;overflow:hidden;}
    .part > .top { padding-top:65px;padding-bottom:30px;}
    .part > .top > span { font-size:24px;color:#333;margin-right:15px;}
    .part > .top > .part_tab { display:inline-block;}
    .part > .top > .part_tab > a { padding-left:35px;padding-right:35px;font-size:20px;}
    .part > .top > .part_tab > a>span { color:#333;}
    .part > .top > .part_tab > a.active>span { color:#4e8cee;}
    .part > .top > a { float:right;font-size:16px;}
    .part > .top > a > span { color:#666;position:relative;top:5px;}

    .tj_fangyuan { overflow:hidden;width:1224px;position:relative;left:-13px;display:none;}
    .tj_fangyuan > a { display:block;padding:0px 13px;width:306px;float:left;}
    .tj_fangyuan > a > span > img { display:block;width:280px;height:188px;}
    .tj_fangyuan > a > .p01 { font-size:18px;color:#333;padding-top:20px;padding-bottom:15px;}
    .tj_fangyuan > a > .p01 > span { display:inline-block;overflow: hidden; white-space: nowrap; text-overflow: ellipsis;max-width:225px;margin-right:15px;}
    .tj_fangyuan > a > .p01 > i { font-style:normal;font-size:12px;display:inline-block;padding:3px 5px;border-radius:4px;-webkit-border-radius:4px;-moz-border-radius:4px;background-color:#4e8cee;color:#fff;position:relative;top:-6px;}

    .tj_fangyuan > a > .p02 { font-size:18px;color:#333;}
    .tj_fangyuan > a > .p02 >span{ color:#fd772e;}
    .tj_fangyuan > a > .p02 > i { font-style:normal;font-size:16px;color:#999;float:right;}
    /*面包屑导航*/
    .breadcrumb { width:1200px;margin:auto;padding-bottom:25px;}
    .breadcrumb > a > span { font-size:14px;color:#666;}
    .breadcrumb > span { position:relative;top:-1px;}


     /*预约看房弹窗*/
    .dyxx_t { width:600px;height:400px;background-color:#fff;position:fixed;top:50%;margin-top:-200px;left:50%;margin-left:-300px;z-index:1000001;padding:20px;border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
    .dyxx_t > p { color:#4e8cee;font-size:22px;border-bottom:2px solid #4e8cee;margin-bottom:15px;padding-bottom:15px;}
    .dyxx_t > p > span { color:#999;font-size:14px;margin-left:15px;}
    .form01 > span { color:#333;font-size:16px;margin-right:10px;}
    .form01 { margin-bottom:20px;padding-left:35px;}
    .form01 > span > i { color:#f00;margin-right:5px;position:relative;top:3px;}
    .form01 > input { outline:none;border:1px solid #d2d2d2;font-size:16px;color:#333;width:230px;height:42px;padding-left:15px;line-height:42px;}
    .dy_01 { display:block;text-align:center;}
    .dy_01 > span { color:#fff;display:inline-block;width:130px;height:42px;line-height:42px;text-align:center;font-size:16px;background-color:#4e8cee;}
    .xxx { position:absolute;top:0px;right:0px;cursor:pointer;padding:7px;padding-top:2px;}

    .dyxx_t03 .titles { color:#333;font-size:20px;text-align:center;padding-top:10px;margin-bottom:25px;}
    .dyxx_t03 .form01 > input { width:380px;}
    .dyxx_t03 .form01 { padding-left:0px;text-align:center;}
    .dyxx_t03 .dy_01 > span { width:380px;}
    .dyxx_t03 .form01 { margin-bottom:25px;}







