
<!-- 搜索 -->
<div class="wd_search_wrap">
    <div>
        <div class="input_wrap">
            <input type="text" placeholder="房产问题与疑问，一搜即答"/>
            <a href="###"><img src="../images/wd_ss_btn.png" /></a>
        </div>

        <a href="###" class="wd_tw_btn"><img src="../images/wd_tw_btn.png" /></a>
    </div>
</div>